.container {
  transition: all ease-in-out 300ms !important;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  &_delete {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;

    transition: all ease-in-out 300ms;
    &:hover {
      transform: scale(1.1);
    }
  }
}
